table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: rgb(103 119 239 / 0.021) !important;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: rgb(103 119 239 / 0.031) !important;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: rgb(103 119 239 / 0.031) !important;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: rgb(103 119 239 / 0.041) !important;
}
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: rgb(103 119 239 / 0.041) !important;
}

.section .section-body .col-10 .section-title {
    font-size: 16px;
    line-height: 20px;
    margin: 15px 0 22px;
}
